*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-open-sans{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 45px;
    font-weight: bolder;
    
}
.color-orange{
        color: #FD6E0A;
    }
    .btn{
        background-color:#FD6E0A ;
        border: none;
        padding: 18px 35px;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        cursor: pointer;      
        
       
    }
    .section-heading{
        max-width: 827px;
        text-align: center;
        margin: 0 auto;
    }
    .section-heading h2{
        font-size: 35px;
        font-weight: bold;
        color: #181818;
        margin-bottom: 30px;
    }
    .section-heading p{
        font-size:18px;
        font-weight: regular;
        margin-bottom: 30px;
        line-height: 30px;
        color:#757575
    }
/* main style */
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-repeat:no-repeat;
    background-position: top left, bottom right;
    margin-top: 59px;
        
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    }
    nav .menu{
        display: flex;
        list-style-type: none;
        gap: 51px;
        align-items:center;
        
    }
    nav .menu a{
        font-size: 20px;
        color: #474747;
        text-decoration: none;

    }
    #banner{
        /* border: 1px solid red; */
        margin: 49px 0px 115px 205px;
        display: flex;
        justify-content: space-between; 
        align-items:center ; 
    }
    #banner .banner-content{
        max-width: 585px;

    }
    #banner .banner-content h2{
        font-size: 45px;
        font-weight: 600;
        color: #474747;
        margin-bottom: 20px;

    }
    #banner .banner-content h1{
        font-size: 85px;
        font-weight: bold;
        color: dark;
    }
    #banner .banner-content p{
        font-size: 18px;
        font-weight: regular;
        line-height: 30px;
        color: #757575;
        margin-bottom: 30px;
    }
    #banner .banner-image img{
       max-width:584px;
       vertical-align: midddle; 
        
    }
    #about, #skills, #resume{
        padding-top: 130px;;
    }
    #about .about-container{
        width:71%;
        max-width: 1140px;
        margin: 0 auto;
        text-align: center;
        background-color: #FFF8F3;
        padding: 131px 169px 144px;
    }
    #about .about-container .about-info{
         display:flex;
        justify-content: space-around;
        text-align:center;
    }
    .about-info .info-card p{
       
        font-size: 20px;
        font-weight: regular;
        line-height: 30px;
        color: #757575;
        
    }
    .about-info .info-card h4{
        font-size: 20px;
        font-weight: bold;
        color: dark;
    }
    
    #skills .skills-container{
        width:71%;
        max-width: 1140px;
        margin: 0 auto;

    }
    #skills .skills-container .skill-box{
        display: flex;
        gap: 24px;
    }
    .skill-box .skill-card{
        padding: 30px;
        /* border: 1px solid red; */
        max-width: 267px;
        box-shadow: 0 6px 50px #00000013;

    }
    .skill-card img{
        max-width: 44px;
        margin-bottom: 30px;
    }
    .skill-card h3{
        color: dark;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .skill-card p{
        font-size: 16px;
        font-weight:regular;
        color:#757575;
        line-height: 28px;
        
    }
    #resume .resume-container{
        width:71%;
        max-width: 1140px;
        margin: 113px auto 0;
        display: flex;
        gap: 24px;
    }
    .resume-container hr{
        margin: 30px 0;
    }
    .resume-container .section-title{
        font-size: 30px;
        font-weight: bold;
        color: #474747;
        margin-bottom: 30px;
    }
    .resume-card{
        width: 511px;
        margin-right: 47px;
        margin-bottom: 30px;
    }
    .resume-card .card-title{
        font-size: 25px;
        font-weight: bold;
        color: #474747;
        margin-bottom: 10px;
    }
    .resume-card .card-info{
        font-size: 20px;
        font-weight: 600;
        color: #757575;
        margin-bottom: 20px;
    }
    .resume-card .card-text{
        font-size: 16px;
        font-weight: regular;
        line-height: 28px;
        color: #757575;

    }

